* {
    background-color: rgb(203, 220, 223);
}

.div1 {
    align-items: center;
    align-content: center;
    border: solid black;
    border-radius: 20px;
    

}

.h1 {
    align-items: center;
    align-content: center;
    font-style: italic;
}